{% extends "base.html" %}

{% block title %}The people{% endblock %}

{% block navbar %}{% include "navbar.html" with hamburger=False %}{% endblock %}

{% block content %}
<h1>The contributors</h1>

<h2 class="header">These are the tireless volunteers who toil for the OSS ecosystem.</h2>

<article class="maintainer-list">
    {% for contributor in contributors %}
    <figure>
        {% if contributor.github_url %}
        <a href="{{ contributor.github_url }}">
        {% else %}
        <em>
        {% endif %}
        <img src="{{ contributor.avatar }}" />
        {% if contributor.get_full_name %}
        <figcaption>
        <span>{{ contributor.get_full_name }}</span>
        </figcaption>
        {% endif %}
        {% if contributor.github_url %}
        </a>
        {% else %}
        </em>
        {% endif %}
    </figure>
    {% endfor %}
</article>
{% endblock %}
