{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Become a member{% endblock %}

{% block content %}
<article class="page">
    <h1>Becoming a member</h1>


    <h2>What is the difference between contributors and maintainers?</h2>

    <p>
    Both are full members of Code Shelter, and can contribute to projects equally. The difference is only a technical
    one: Maintainers have commit and release access to projects, whereas contributors don't. There is no other
    difference.
    </p>


    <h2>How much time do I need to dedicate?</h2>

    <p>
    At the very least, we'd like you to try to review and merge pull requests, fix critical bugs and make releases for
    the projects that interest you. Past that, the level of your involvement is up to you, and obviously the more
    involved you are the better, but the explicit stated goal of Code Shelter is to allow projects to continue to live
    and evolve.
    </p>

    <p>
    There is no strict amount of time commitment that we ask of members. If you no longer have time to maintain
    a project, that's fine, we just ask that you remove yourself from it so someone else can pick it up. You are
    still welcome to remain in Code Shelter indefinitely.
    </p>


    <h2>What qualifications do maintainers need to have?</h2>

    <p>
    The entire premise of Code Shelter is predicated on the high quality of its maintainers, so we need to be rigorous
    about the volunteers who can maintain a project. We need to be especially careful because maintainers will have
    release access, and so will be working directly on code that will make it onto people's machines. We would love it
    if everyone could join, but for now we need to focus on people who are experienced in the language or technology
    each project is using, and who have significant open source contributions of their own.
    </p>

    <p>
    Given the high level of trust users and project owners are putting in us, we need our maintainers to already have
    demonstrated their trustworthiness in the community. As such, we'd like to see any popular project you are an
    owner/maintainer of, as it would make it easier for us to accept you.
    </p>

    <p>
    If you don't have any open source contributions, don't worry! Contributors don't need to go through a vetting
    process, and you can still help out fully, you just need to coordinate with a maintainer in chat to get your PRs
    reviewed and merged, to perform releases or anything else you don't have access for.
    </p>


    <h2>How do I pick a project to work on?</h2>

    <p>
    You can see a list of sheltered projects and their maintainers on the <a href="{% url "projects" %}">projects
    page</a>. Feel free to join any project on the list and help out, but try to be mindful of existing maintainers,
    whether they are members of the Shelter or not. If they already have a process laid out, please try to follow it.
    </p>


    <h2>Sounds good, how do I join?</h2>

    <p>
    It only takes a few simple steps:
    </p>

    <ol>
        <li>
        <a href="{% url "social:begin" "github" %}">Log in with Github</a> to create your profile.
        </li>

        <li>
        Join <a href="https://codeshelter.zulipchat.com/">our chat server</a>, as that is where all community
        coordination happens. If you'd like to be a contributor, you're done!
        </li>

        <li>
        If you'd like to become a maintainer, just leave a message
        <a href="https://codeshelter.zulipchat.com/#narrow/stream/150752-maintainer-applications">in the applications
            stream</a> telling us about your notable OSS contributions and why you would be a good addition to the
        maintainers team, and we'll get the ball rolling!
        </li>
    </ol>

    <p>
    Thank you for your help and interest!
    </p>
</article>
{% endblock %}
